.box_header {
    width: 100vw;
    height: 10vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position:fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.39);
    border: 1px solid #807B7B;

}

.nav_box {
    width: 4.5vw;
    height: 4vh;
    background-color: #2432AE;
}
.fade-text {
    opacity: 0;
    animation: fade-in 1s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .lefttext{
    height:30vh;
    width:49vw;
    background-color:#c0dbf3;
    border-radius: 20;
    
    ;
  }
  .ots{
    background-color: black;
    width: 20rem;
    height: 10rem;
    left: 30rem;
    font-size: small;
  }